<%-  include ('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%-  include ('../partials/nav') %> 

<section id="show-page">
  <a href="/flights/<%= flight._id %>/edit">
    <button class="flight-edit">Edit Flight</button>
  </a>
</section>
  <section id="flight-details">
  <div>Flight Airport:
    <%= flight.airport %> 
  </div>
  
  <div>Flight Airline:
    <%= flight.airline %>
  </div>
  
  <div>Flight Number:
    <%= flight.flightNo %>
  </div>

  <div>Flight Depart Date:
    <%= flight.departs %>
  </div>
</section>
<% // new markup below %>
  <h2>Tickets</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="content-textarea">Ticket:</label>
    <input name="seat" id="seat" required pattern="[A-F][1-9]\d?">
    <label for="content-textarea">Price:</label>
    <input name="price" id="price">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Ticket Seat</th>
          <th>Ticket Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets</h3>
    <% } %>
    
    
    
    <div>Meal:</div> 
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meal.name %></li>
      <% }) %>
    </ul>
  </section>
    
  <%# add to cast form below this comment %>
  <form id="add-meal-to-flight" action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add to Flight</button>
  </form>  



<%- include('../partials/footer') %>

